@import "bourbon"

$color-white: #FFFFFF
$color-blue: #00ACD7
$color-light-blue: #40FFFF
$f-bold: 'GothamProBold', sans-serif
$f-medium: 'GothamProMedium', sans-serif
$f-light: 'GothamProLight', sans-serif
$f-regular: 'GothamProRegular', sans-serif
$size-24px: 1.25vw //1.5em
$size-21px: 1.09375vw //1.313em
$size-18px: 0.9375vw //1.125em
$size-14px: 0.7291666666666667vw //0.875em
=ff($ff)
  font-family: $ff
